*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: .13rem;
}
html {
    font-size: 100px;
}
body{
    background: #f5f5f5;
    font-size: 0.12rem;
}
.head{
    outline: 1px solid red;
    position: relative;

}
.head .bg{
    width: 100%;
    vertical-align: top;
}
.downList{
    position: absolute;
    top: 0.12rem;
    right: 0.16rem;

}
.downList a{
    color: #ffffff;
    margin-left: 0.2rem;
    height: 0.32rem;
    display: inline-block;
    padding-top: 0.2rem;
    box-sizing: border-box;
    text-align: center;
}
.downList a:nth-child(1){
    background: url("../image/my/urse.png") center 0 no-repeat;
    background-size: 0.20rem 0.20rem;
}
.downList a:nth-child(2){
    background: url("../image/my/down.png") center 0 no-repeat;
    background-size: 0.20rem 0.20rem;
}
.logo{
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 1.33rem;
    top: 0.58rem;

}
.login{
    position: absolute;
    left: 1.50rem;
    bottom: 0.1rem;
    color: white;
    border: 2px solid white;
    padding: 0.06rem 0.2rem;
}
.userList{
    margin-top: 0.30rem;
    background: white;
    padding: 0  0.2rem;
}
.userList li{
    height: 100%;
    line-height: 0.48rem;
    border-bottom: 1px solid #dcdcdc;

}
.userList img{
    width: 0.16rem;
    height: 0.16rem;
}
.right_img{
    position: absolute;
    right: 0.3rem;
}
